In [ ]:
# Created by Ian Cox | 2/21/2023
# AHEAD | March Madness 2023 Bracket Challenge
# Random Classifier | Pick winners based on random chance

#data: MTeams.csv

In [1]:
# import libs
import pandas as pd
import random
import os

In [2]:
os.chdir('C:\\Users\\IanCox\\OneDrive - AHEAD\\Documents\\python\\march_madness\\mens-march-mania-2022\\MDataFiles_Stage1')

In [3]:
teams = pd.read_csv('MTeams.csv')

In [4]:
teams

     TeamID      TeamName  FirstD1Season  LastD1Season
0      1101   Abilene Chr           2014          2022
1      1102     Air Force           1985          2022
2      1103         Akron           1985          2022
3      1104       Alabama           1985          2022
4      1105   Alabama A&M           2000          2022
..      ...           ...            ...           ...
367    1468    Bellarmine           2021          2022
368    1469      Dixie St           2021          2022
369    1470   Tarleton St           2021          2022
370    1471  UC San Diego           2021          2022
371    1472  St Thomas MN           2022          2022

[372 rows x 4 columns]

In [5]:
# create a function that will pick 2 random teams and then pick who would win of those teams based on random chance
def pick_winner(df):
    # Select two random teams
    teams = df.sample(n=2)
    
    # Create a smaller dataframe with just those two teams
    smaller_df = df[df['TeamName'].isin(teams['TeamName'])]
    
    # Randomly select a winner
    winner = random.choice(teams['TeamName'].tolist())
    
    # Print the winner
    print(f"{winner} is the winner!")
    
    return smaller_df

In [10]:
pick_winner(teams)

High Point is the winner!

     TeamID    TeamName  FirstD1Season  LastD1Season
118    1219  High Point           2000          2022
206    1307  New Mexico           1985          2022

## Pros/Cons of Approach

### Pros

* Random chance provides a benchmark to compare against when evaluating more complex models

* If a more complex model cannot perform better than random chance, then we know it isn't useful for predicting that winner of a game

* If a more complex model CAN perform better than random chance, we know that it is at least somewhat useful in making predictions

* Random chance serves as a <b>BASELINE</b>

### Cons

* Lack of realism. Random chance is not a reflection of reality

* Overfitting. Some complex models will "overfit" to the training data, which can create misleading differences between the baseline model and more complex model

* Beating the baseline == Good! This is a fallacy! If your model "beats" the baseline by a small amount, you still don't have a very accurate model...