In [12]:
# Created by Ian Cox | 2/24/2023
# AHEAD | March Madness 2023 Bracket Challenge
# Tournament Prediction | Logistic Regression Classifier with default params
# Pick winners based on tournament play history,  regular season stats up to the tournament, and seed

import pandas as pd
import os
os.chdir('C:\\Users\\IanCox\\OneDrive - AHEAD\\Documents\\python\\march_madness\\march-machine-learning-mania-2023')

In [13]:
# import ml lib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [14]:
# load the ml ready data
data = pd.read_csv('tourney_ml_input.csv')
data

,Season,DayNum,TeamID,OpponentID,outcome,RS Point Total,RS Avg Points,OPP RS Point Total,OPP RS Avg Points,SeedDiff
0,2003,134,1421,1411,1,2065.0,71.206897,2184.0,72.800000,0
1,2003,136,1112,1436,1,2386.0,85.214286,1966.0,67.793103,-15
2,2003,136,1113,1272,1,2203.0,75.965517,2161.0,74.517241,3
3,2003,136,1141,1166,1,2301.0,79.344828,2615.0,79.242424,5
4,2003,136,1143,1301,1,2160.0,74.482759,2172.0,72.400000,-1
...,...,...,...,...,...,...,...,...,...,...
2465,2022,146,1274,1242,0,2469.0,74.818182,2672.0,78.588235,9
2466,2022,146,1389,1314,0,1919.0,66.172414,2558.0,77.515152,7
2467,2022,152,1437,1242,0,2397.0,72.636364,2672.0,78.588235,1
2468,2022,152,1181,1314,0,2726.0,80.176471,2558.0,77.515152,-6
2469,2022,154,1314,1242,0,2558.0,77.515152,2672.0,78.588235,7

In [36]:
# Split the data into training and test sets
train_data = data[data["Season"] < 2017]
test_data = data[data["Season"] >= 2017]

In [37]:
# Select the features and target variable
features = ["RS Point Total", "RS Avg Points", "OPP RS Point Total", "OPP RS Avg Points", "SeedDiff", "TeamID", "OpponentID"]
target = "outcome"

In [38]:
# Split the features and target variable into X and y
X_train = train_data[features]
y_train = train_data[target]
X_test = test_data[features]
y_test = test_data[target]

In [39]:
# Build a logistic regression model
model = LogisticRegression()

In [40]:
# Train the model on the training data
model.fit(X_train, y_train)

LogisticRegression()

In [41]:
# Predict the outcomes of the test set
y_pred = model.predict(X_test)

In [42]:
# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.6798780487804879